div[id*='slider'] {
    background: #7abcca;
    height:10px;
}

.ui-slider .ui-slider-handle {
    height: 15px;
    width: 15px;
}

h1 {
    font-weight: bold;
    font-size: 18px;
}

body {
    font-size:15px;
}

body, h1, p {
    font-family: 'Open Sans', sans-serif;
    text-align:left;
}

td.buckets {
    width:120px;
}

td.slider {
    width: 800px !important;
    padding-right: 5px;
}

.classSliderGroup {
    border-collapse:collapse;
    border: 1px solid #D0D0D0;
    margin-left:25px;
    width:500px;
}

.classTable {
    margin:0;
    padding:0;
    width:502px;
    border:1px solid #ccc;
}

.classTable table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.classTable table tr:first-child td:last-child {
    padding:10px 0;
}

.classTable td {
    vertical-align:middle;
    background:#fff;
    border:1px solid #ccc;
    border-width:0px 1px 1px 0px;
    padding:10px;
    font-size:12px;
    font-weight:bold;
    color:#000;
}

.classTable tr:last-child td {
    border-width:0px 1px 0px 0px;
}

.classTable tr td:last-child {
    border-width:0px 0px 1px 0px;
}

.classTable tr:last-child td:last-child {
    border-width:0px 0px 0px 0px;
}

.classTable tr:first-child td {
    background:#ec1e2c;
    border:0px solid #ccc;
    text-align:center;
    border-width:0px 0px 1px 1px;
    font-weight:bold;
    color:#fff;
}

.classTable tr:first-child:hover td {
    background:#ec1e2c;
}

.classTable tr:first-child td:first-child {
    border-width:0px 0px 1px 0px;
}

.classTable tr:first-child td:last-child {
    border-width:0px 0px 1px 1px;
}

.classTableOutput {
    margin: 21px 0 25px;
    padding:0;
    width:500px;
    border:1px solid #ccc;
}

.classTableOutput table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

.classTableOutput table tr:first-child td:first-child {
    border:1px solid #ec1e2c;
}

.classTableOutput td {
    vertical-align:middle;
    background:#fff;
    border:1px solid #ccc;
    border-width:0px 1px 1px 0px;
    padding:6px;
    font-weight:bold;
    color:#000;
}

.classTableOutput tr:last-child td {
    border-width:0px 1px 0px 0px;
}

.classTableOutput tr td:last-child {
    border-width:0px 0px 1px 0px;
}

.classTableOutput tr:last-child td:last-child {
    border-width:0px 0px 0px 0px;
}

.classTableOutput tr:first-child td {
    background:#ec1e2c;
    border:1px solid #ec1e2c;
    text-align:center;
    font-weight:bold;
    color:#fff;
}

.classTableConstants {
    margin-left:0px;
    padding:0px;
    width:500px;
}

.classTableConstants table {
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
}

.classTableConstants td {
    vertical-align:middle;
    background-color:#fff;
    border:1px solid #ccc;
    padding:10px;
    font-size:12px;
    font-weight:bold;
    color:#ccc;
}

.classTableConstants tr:first-child td {
    background:#ccc;
    border:1px solid #ccc;
    text-align:center;
    font-weight:bold;
    color:#fff;
}

.classTableConstants tr:first-child:hover td {
    background:#000;
}

.classTableConstants input[type=text] {
    user-select: none;
    color:#808080;
}
/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
    display:none;
    margin:10px;
}
/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 0px 12px;
    border-color: #ddd;
    background:#d0d0d0;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio]:checked + label {
    background-image: none;
    background: #e7e7e7;
    color:#808080;
}

.classTableGlobal {
    padding:2px;
    font-size:12px;
    font-weight:bold;
    color:#000;
    width:945px;
    margin-top:15px;
}

.classTableGlobal td {
    border:1px solid #ccc;
    padding:5px 10px;
}

.classGlobalOut{
    font-size:14px;
    font-weight:bold;
    color:#808080;
}

td.highlight {
    background:#C3E5E3;
}

table.main {
    width:950px; margin:15px auto;
}

table.bucket {
    width:95%; padding:0 5% 0 0;
}

.bucket td {
    padding-right:20px;
}

td.dropdown {
    padding-top:25px;
}

td.dropdown h1 {
    margin:0;
}

.docs {
    width:90%;
}

#instances {
    padding-left:30px;
}
